@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.satisfy-regular {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-size: 28px;
    font-style: normal;
}

.w100{
    width: 100%;
}

.w30 {
    width: 30%;

}

.modal-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}